/* MODAL WINDOW*/

:root{
    --white : #f3f2edfd;
}

.fullscreen{
  width: 100% !important;
  height: calc(100% - 60px) !important;
  max-width: unset !important;
  top: 60px !important;
  left: 0 !important;
}

.modal {
    display: none; 
    position: fixed; 
/*    z-index: 100; */
    padding: 10px;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    position: relative;
/*    left: 20vw;*/
    background-color: var(--white);
    border-radius: 10px;
    margin: 20px auto;
    border: 1px solid #888;
    width: auto;
    max-width: 1200px ; 
    height: auto;
    padding: 10px;
/*    opacity: 95%;    */
  }
  
  .modal-title{
      display: flex;
      font-weight: 600;
      border-bottom: solid 2px ;
      color: black;
      /*padding-left: 30px;*/
      align-items: center;
      width: 100%;
      /*height: auto;*/
      height: 32px;
      align-items: center;       
      justify-content: space-between;
  }

  .modal-text{
      padding: 5px;
      overflow: auto;
      position: relative;
      height: calc(100% - 32px);
  }

  .close {
    padding-right: 10px;
    color: #acacac;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-title:active{
    cursor: grabbing;
    background-color: var(--top-bar);
    /*rgba(198, 235, 195, 0.8);*/
  }

  .modal-resize {
    width: 25px;
    height: 25px;     
    position: absolute;
    right: 0;
    bottom: 0;    
    border-radius: 50%;
  }

  .modal-resize:hover{
    background-color: rgba(228, 95, 95, 0.39);
    cursor: se-resize;
    right: 0;
    bottom: 0;  
  }

  @media all and (max-width : 768px) {
    .modal-content {
      width: auto !important;
    }
  }

/* FIM MODAL */