
<template>
    <style>
        #lblTotal{
            font-weight: bolder;
            font-size: 1.4em;
            padding: 20px;
            display: none;
            width: 100%;
            text-align: right;
        }

        #btnRelat{
            width: 98%;
            display: none;
        }

        .busca-itens{
            display: flex;
            width: 100%;
        }

    </style>

    <fieldset class="fds-busca cotacao">
        <legend>Filtro</legend>

        <div class="inline">
            <select id="cmbBusca">
                <optgroup label="Geral">
                    <option value="true"     signal="=" val="true"   >Todos      </option>                        
                    <option value="status"   signal="=" val="ABERTO" >Cotações   </option>
                    <option value="status"   signal="=" val="FECHADO">Pedidos    </option>
                    <option value="status"   signal="=" val="PAGO"   >Faturados  </option>
                    <option value="status"   signal="=" val="INTERNO">Uso Interno</option>
                    <option value="id"       signal="IN"   >Código</option>
                    <option value="num_ped"  signal="LIKE">Número</option>
                    <option value="prod.cod" signal="="   >Cod. do Produto</option>
                    <option value="EMPRESA"  signal="LIKE"   >Cliente</option>
                    <option value="id_emp"   signal="IN"   >Cod. do Cliente</option>      
                </optgroup>
            </select>
            <div class="busca-itens">
                <input type="text" id="edtBusca" placeholder="Digite sua Busca" onkeypress="return getEnter(event, 'btnBusca')">
                <button id="btnBusca" class="btn-round"><span class="mdi mdi-magnify"></span></button>
                <button id="btnNovo" class="btn-round"><span class="mdi mdi-plus-thick"></span></button>
            </div>
        </div>
        <div class="inline">
            <div class="line-ckb">
                <label for="ckbData">Início/Final</label>
                <input type="checkbox" id="ckbData" checked>
            </div>
            <input type="date" id="edtIni">
            <input type="date" id="edtFin">
        </div>            
    </fieldset>

    <table id="tblCot"></table>
    <p id="lblTotal"></p>
            

</template>
<script>

    const pageData = main_data.com_cotacoes.data
    const pageFunc = main_data.com_cotacoes.func
    const pageScreen = document.querySelector('#card-com_cotacoes')

    pageFunc.fillCot = ()=>{
        const query = getVal('cotacao')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
            params.dt_ini = pageScreen.querySelector('#edtIni').value
            params.dt_fin = pageScreen.querySelector('#edtFin').value
        const myPromisse = queryDB(params,'COT-0');
        myPromisse.then((resolve)=>{            
            const json = JSON.parse(resolve)
console.log(json)
            const tbl = document.getElementById('tblCot')
            tbl.innerHTML = ''
            json.length > 0 ? tbl.head('Cod.|mobHide,Num.,Cliente.,Data,Status|mobHide,Valor R$|mobHide') : 0
            for(let i=0; i<json.length;i++){
//                total +=  parseFloat(json[i].venda)
                tbl.plot(json[i],'id|mobHide,num_ped,EMPRESA,data_ped,status|mobHide,VALOR|mobHide','int,str,Upp,date,change FECHADO=PED ABERTO=COT PAGO=FAT INTERNO=USO_INT. .=**,R$.',true)                    
            }   

        });
    }


    pageScreen.querySelector('#edtIni').value =  today.iniMonth()
    pageScreen.querySelector('#edtFin').value =  today.finMonth()

    pageScreen.querySelector('#btnNovo').addEventListener('click',()=>{
        openHTML('newCot.html','pop-up','Nova Cotação','new')
    })


    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
        pageFunc.fillCot()
/*        
        const sel = document.querySelector('#cmbBusca')
        const field = sel.value
        const signal = sel.options[sel.selectedIndex].getAttribute('signal')
        const ckb = document.querySelector('#ckbData').checked
        let value = sel.options[sel.selectedIndex].hasAttribute('val') ? sel.options[sel.selectedIndex].getAttribute('val') : document.querySelector('#edtBusca').value.trim()
        value = signal=='LIKE' ? `"%${value}%"` : signal=='IN' ? `(${value})` : sel.value=='true'? sel.value : `"${value}"`
//        value = signal=='LIKE' ? `"%${value}%"` : sel.value=='true'? sel.value : `"${value}"`

        const tbl = document.getElementById('tblCot')
        const params = new Object;
            params.field = field
            params.signal = signal
            params.value = value
            params.ini = ckb ? document.querySelector('#edtIni').value : '2000-01-01';
            params.fin = ckb ? document.querySelector('#edtFin').value : '2100-12-31';        

        const myPromisse = queryDB(params,27);

        myPromisse.then((resolve)=>{
            if(resolve.trim() != ""){
                const json = JSON.parse(resolve);
                let total = 0
                tbl.innerHTML=''
                document.querySelector('#lblTotal').style.display = json.length > 0 ? 'block' : 'none'
                json.length > 0 ? tbl.head('Cod.|mobHide,Num.,Cliente.,Data,Status|mobHide,Valor R$|mobHide') : 0
                for(let i=0; i<json.length;i++){                                       
                    total +=  parseFloat(json[i].venda)
                    tbl.plot(json[i],'id|mobHide,num_ped,fantasia,data_ped,status|mobHide,venda|mobHide','int,str,Upp,date,change FECHADO=PED ABERTO=COT PAGO=FAT INTERNO=USO_INT. .=**,R$.',true)                    
                }                
                document.querySelector('#lblTotal').innerHTML =  'Total '+ viewMoneyBR(total.toFixed(2))
            }        
        })
*/        
    })

    pageScreen.querySelector('#tblCot').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'      
        openHTML('viewCot.html','pop-up','Cotação',data)
    })

</script>