
<template>
    <style>
        .inline label{
            min-width: unset !important;
        }

    </style>

<fieldset>
    <legend id="lgdItem"></legend>

    <div class="inline">
        <label for="edtQtd">Qtd</label>
        <input type="text" id="edtQtd" onkeyup="return valFloat(this,0)">
        <label for="edtPreco">Preço</label>
        <input type="text" id="edtPreco" onkeyup="return valFloat(this)">
    </div>
    <div class="line">
        <button id="btnSaveItem">Salvar</button>
        <button id="btnDelItem">Deletar</button>
    </div>
</fieldset>


</template>
<script>

    const pageData = main_data.com_edit_prod.data
    const pageFunc = main_data.com_edit_prod.func
    const pageScreen = document.querySelector('#card-com_edit_prod')
    const parentData = main_data.com_view_cot.data.itens[pageData.rowindex]

    pageScreen.querySelector('#lgdItem').innerHTML = pageData.descricao
    pageScreen.querySelector('#edtQtd').value = pageData.qtd
    pageScreen.querySelector('#edtPreco').value = parseFloat(pageData.preco).toFixed(2)

    pageScreen.querySelector('#btnSaveItem').addEventListener('click',()=>{
        parentData.qtd = pageScreen.querySelector('#edtQtd').value
        parentData.preco = pageScreen.querySelector('#edtPreco').value
        parentData.TOTAL = (parseFloat(parentData.qtd) * parseFloat(parentData.preco)).toFixed(2)
        main_data.com_view_cot.func.fillItens()
        closeModal('com_edit_prod')
    })

    pageScreen.querySelector('#btnDelItem').addEventListener('click',()=>{

        if (confirm('Deseja realmente deletar este ítem?')) {
            main_data.com_view_cot.func.delItem(pageData.id)
        }
        closeModal('com_edit_prod')
    
    })


</script>