
<template>
    <style>

        button{
            width: 98%;
        }

        #btnAddAll{
            display: none;
        }

    </style>

    <h1>NFs Serviço</h1>

    <div class="tab-bar">
        <div class="tab-item" id="tab-emitente" onclick="pictab(this)">Emitente    </div>
        <div class="tab-item" id="tab-pedido"   onclick="pictab(this)">Serviço     </div>
        <div class="tab-item" id="tab-cliente"  onclick="pictab(this)">Cliente     </div>            
        <div class="tab-item" id="tab-itens"    onclick="pictab(this)">Itens       </div>
        <div class="tab-item" id="tab-fatura"   onclick="pictab(this)">Faturamento </div>
        <div class="tab-item" id="tab-export"   onclick="pictab(this)">Arquivos</div>
    </div>
    
    <div class="tab-screen">        
        <div id="emitente" class="tab">
            <div class="inline">
                <label> Razão Social *</label>
                <input type="text" id="xNome" maxlength="60" />
            </div>
            <div class="inline">
                <label> CNPJ </label>
                <input type="text" id="CNPJ" maxlength="18" onkeyup="valCNPJ(this)"/>
            </div>
            <div class="inline">
                <label> Endereço </label>
                <input type="text" id="xLgr" maxlength="60" />
                <label> Número: </label>
                <input type="text" id="nro" maxlength="5" style="max-width: 100px;" />
            </div>
            <div class="inline">
                <label> Bairro </label>
                <input type="text" id="bairro" maxlength="60" />
                <label> Complemento </label>
                <input type="text" id="cpl" maxlength="60" style="max-width: 200px;" />
            </div>
            <div class="inline">
                <label> Municipio</label>
                <input type="text" id="xMun" maxlength="60" />
                <label> Sigla da UF </label>
                <input type="text" id="UF" maxlength="2" style="max-width: 50px;" />
            </div>
            <div class="inline">
                <label> CEP </label>
                <input type="text" id="CEP" maxlength="10" onkeyup="valCEP(this)"/>
                <label> Email </label>
                <input type="text" id="email" maxlength="50"/>
            </div>
            <button id="btnSaveEmit">Salvar</button>
        </div>
        <div id="pedido" class="tab">
            <fieldset class="fds-busca nfs">
                <legend>Filtro</legend>
                <div class="inline">
                    <select id="cmbBusca">
                        <option value="id" signal="IN">Código</option>
                        <option value="empresa" signal="LIKE" selected>Cliente</option>
                        <option value="id_emp" signal="=">Cód. Cliente.</option>
                        <option value="num_carro" signal="IN" >Num. Carro</option>
                        <option value="num_carro" signal="IN" >NF</option>
                        <option value="num_carro" signal="IN" >Pedido</option>
                    </select>
                    <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBuscaServ')">
                    <button id="btnBuscaServ" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
                </div>
                <div class="inline fdata">
                    <label for="ckbData">entre:</label>
                    <input type="checkbox" id="ckbData" checked>
                    <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBuscaServ')">
                    <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBuscaServ')">
                </div>
            </fieldset>  

            <table id="tblServExec"></table>
            <button id="btnAddAll">Adicionar Todos</button>

        </div>
        <div id="cliente" class="tab">
            <div class="inline">
                <label> Razão Social *</label>
                <input type="text" id="xNome" maxlength="60" />
            </div>
            <div class="inline">
                <label> CNPJ </label>
                <input type="text" id="CNPJ" maxlength="18" onkeyup="valCNPJ(this)"/>
                <label> Insc. MUn. </label>
                <input type="text" id="IM" maxlength="18" onkeyup="valInt(this)"/>
            </div>
            <div class="inline">
                <label> Endereço </label>
                <input type="text" id="xLgr" maxlength="60" />
                <label> Número: </label>
                <input type="text" id="nro" maxlength="5" style="max-width: 100px;" />
            </div>
            <div class="inline">
                <label> Bairro </label>
                <input type="text" id="bairro" maxlength="60" />
                <label> Complemento </label>
                <input type="text" id="cpl" maxlength="60" style="max-width: 200px;" />
            </div>
            <div class="inline">
                <label> Municipio</label>
                <input type="text" id="xMun" maxlength="60" />
                <label> Sigla da UF </label>
                <input type="text" id="UF" maxlength="2" style="max-width: 50px;" />
            </div>
            <div class="inline">
                <label> CEP </label>
                <input type="text" id="CEP" maxlength="8" onkeyup="valCEP(this)"/>
                <label> Email </label>
                <input type="text" id="email" maxlength="50"/>
            </div>
            <button id="btnSaveCli">Salvar</button>
        </div>
        <div id="itens" class="tab">
            <fieldset>
                <legend>Descriminação dos Serviços</legend>
                <textarea id="txtServicos" cols="30" rows="80"></textarea>
            </fieldset>
        </div>
        <div id="fatura" class="tab">
            <div class="inline">
                <label for="edtNfsNum">Num NFs</label>
                <input type="text" id="edtNfsNum" onkeyup="valInt(this)">
                <label for="edtRps">RPS Defasagem</label>
                <input type="text" id="edtRps" onkeyup="valInt(this)">
            </div>
            <div class="inline">
                <label for="edtValor">Valor</label>
                <input type="text" id="edtValor" value="0.00" onkeyup="valFloat(this)">
                <label for="edtDias">Dias entre Parcelas</label>
                <input type="text" id="edtDias" value="28">
                <label for="edtAliq">Alíquota</label>
                <input type="text" id="edtAliq" onkeyup="valFloat(this)">
            </div>
            <div class="inline">
                <label for="cmbLocal">Local Execução</label>
                <select id="cmbLocal">
                    <option value="TOM" selected>No Cliente</option>
                    <option value="PRE">Na Empresa</option>
                </select>
                <label for="cmbRetFont">ISS Retido na Fonte</label>
                <select id="cmbRetFont">
                    <option value="SIM">Sim</option>
                    <option value="NAO" selected>Não</option>
                </select>
            </div>
            <fieldset>
                <legend>Dedução / Outras Informações</legend>
                <textarea id="txtInfo" cols="30" rows="15">Serviço aprovado conforme Pedido:</textarea>
            </fieldset>
            <button id="brnGeraNFs">Gerar NFs</button>
        </div>
        <div id="export" class="tab">
            <fieldset>
                <legend>TXT</legend>
                <select id="txtFiles" size="20"></select>
            </fieldset>
            <button id="btnUpPDF">UPLOAD PDF</button>
            <fieldset>
                <legend>PDF</legend>
                <select id="pdfFiles" size="20"></select>
            </fieldset>                
        </div>                
    </div>





</template>
<script>

    const pageData = main_data.fisc_nfs.data
    const pageFunc = main_data.fisc_nfs.func
    const pageScreen = document.querySelector('#card-fisc_nfs')

    startPage()

/* CHAMADA DE FUNÇÕES INICIAL */    

function startPage(){
        pageScreen.querySelector('#tab-emitente').click()
        pageScreen.querySelector('#edtIni').value =  today.iniMonth()
        pageScreen.querySelector('#edtFin').value =  today.finMonth()

        listNF('../NF/NFs/txt')
        listNF('../NF/NFs/pdf','pdf')
        importData()

    }



    document.querySelector('#tab-emitente').click()
    document.querySelector('#edtIni').value = today.iniMonth()
    document.querySelector('#edtFin').value = today.finMonth()

    function getTXT(){
        let out = ''
            for(let key in pageData.config){
                if(['10','20','90'].includes(key)){
                    for(let item in pageData.config[key]){
                        out += pageData.config[key][item]+'|'
                    }
                    out += '\n'
                }
            }
            return out   
    }

    function saveFiscal(){

        pageData.config.CONF.DefRPS = document.querySelector('#edtRps').value.trim()

        const emitente = document.querySelector('#emitente')
        const local = document.querySelector('#cmbLocal').value
        const cliente = document.querySelector('#cliente')
        const retido = document.querySelector('#cmbRetFont').value
        const iss = getNumComa(parseFloat(document.querySelector('#edtValor').value)*(parseFloat(document.querySelector('#edtAliq').value)/100))

        const parc = document.querySelector('#edtDias').value.split('/')
        const total = parseFloat(document.querySelector('#edtValor').value)
        pageData.config.fatura = []
        let fatura = ''
        let pg = 0
        let now = new Date
        for(let i=0; i< parc.length; i++){
            now = new Date            
            now.change(parseInt(parc[i]))
            const pgto = new Object            
                pgto.sac = pageData.config['20'].RazSocTom.split(' ')[0]
                pgto.nf = document.querySelector('#edtNfsNum').value.trim()
                pgto.ref =  (i+1).toString().padStart(2,"0") +'/'+ (parc.length).toString().padStart(2,"0")
                pgto.venc = now.getFormatDate()
                pgto.val = i != (parc.length-1) ? (total/parc.length).toFixed(2) : (total-pg).toFixed(2)
            pageData.config.fatura.push(pgto)

            fatura += `\\\\Pgto ${pgto.ref} Venc.${now.getFormatBR()} Valor R$${pgto.val}`
            pg += (total/parc.length)
        }
        fatura += '\\\\**Tributado pelo ANEXO III Simples Nacional Conforme LC 123/2006'

        now = new Date
        pageData.config['10'].CpfCnpj = getNum(emitente.querySelector('#CNPJ').value)
        pageData.config['10'].DtIni = now.getFormatBR()
        pageData.config['10'].DtFin = now.getFormatBR()
        pageData.config['10'].TipoTrib = '4'
        pageData.config['10'].AlqIssSN_IP = getNumComa(document.querySelector('#edtAliq').value)
        pageData.config['10'].Versao = '2.00'

        pageData.config['20'].TipoNFS = 'RPS'
        pageData.config['20'].NumRps = (parseInt(document.querySelector('#edtNfsNum').value)-parseInt(document.querySelector('#edtRps').value)).toString().padStart(9,'0')
        pageData.config['20'].SerRps = '001'
        pageData.config['20'].DtEmi = now.getFormatBR()
        pageData.config['20'].RetFonte = retido
        pageData.config['20'].CodSrv = '14.01'
        pageData.config['20'].DiscrSrv = document.querySelector('#txtServicos').value.replaceAll('\n', '\\\\')
        pageData.config['20'].VlNFS = getNumComa(document.querySelector('#edtValor').value)
        pageData.config['20'].VlDed =  '0,00'
        pageData.config['20'].DiscrDed = document.querySelector('#txtInfo').value.replaceAll('\n', '\\\\') + fatura
        pageData.config['20'].VlBasCalc = getNumComa(document.querySelector('#edtValor').value)
        pageData.config['20'].AlqIss = getNumComa(document.querySelector('#edtAliq').value)
        pageData.config['20'].VlIss = retido=='SIM' ? '0,00' : iss
        pageData.config['20'].VlIssRet = retido=='SIM' ? iss : '0,00' 

        pageData.config['20'].TipoLogLocPre = local=='TOM' ? '.' : ''
        pageData.config['20'].LogLocPre = local=='TOM' ? cliente.querySelector('#xLgr').value : ''
        pageData.config['20'].NumEndLocPre = local=='TOM' ? cliente.querySelector('#nro').value : ''
        pageData.config['20'].ComplEndLocPre = local=='TOM' ? cliente.querySelector('#cpl').value : ''
        pageData.config['20'].BairroLocPre = local=='TOM' ? cliente.querySelector('#bairro').value : ''
        pageData.config['20'].MunLocPre = local=='TOM' ? cliente.querySelector('#xMun').value : ''
        pageData.config['20'].SiglaUFLocPre = local=='TOM' ? cliente.querySelector('#UF').value : ''
        pageData.config['20'].CepLocPre = local=='TOM' ? getNum(cliente.querySelector('#CEP').value) : ''
        pageData.config['20'].EMail_1 = emitente.querySelector('#email').value.trim().toLowerCase()
        pageData.config['20'].EMail_2 = cliente.querySelector('#email').value.trim().toLowerCase()
        pageData.config['20'].EMail_3 = ''

        pageData.config['90'].QtdRegNormal = '00001'
        pageData.config['90'].ValorNFS = getNumComa(document.querySelector('#edtValor').value)
        pageData.config['90'].ValorISS = retido=='SIM' ? '0,00' : iss
        pageData.config['90'].ValorDed = '0,00'
        pageData.config['90'].ValorIssRet = retido=='SIM' ? iss : '0,00'
        pageData.config['90'].QtdReg30 = '0'
        pageData.config['90'].ValTrib = '0,00'

        pageData.config['CONF'].numNFS = document.querySelector('#edtNfsNum').value.trim().padStart(9,'0')
        pageData.config['CONF'].DtHrGerNf = now.getFullDate()

        NFsConf(pageData.config)
    }

    function addBoleto(obj){

        const lanc = new Date
        const params = new Object;
                params.id = 'DEFAULT'
                params.tipo = 'ENTRADA'
                params.data_ini = lanc.getFormatDate() 
                params.data_pg = obj.venc
                params.preco = obj.val
                params.ref = `NFs-${obj.nf} ${obj.ref}`
                params.resp = 'SISTEMA'
                params.emp = obj.sac
                params.origem = 'SAN'
                params.pgto = 'BOL'

            const myPromisse = queryDB(params,21);
    }

    function addCliente(obj){
        const cliente = document.querySelector('#cliente')
        cliente.querySelector('#xNome').value = obj.razao_social.trim().toUpperCase()
        cliente.querySelector('#CNPJ').value = getCNPJ(obj.cnpj)
        cliente.querySelector('#xLgr').value = obj.endereco.trim().toUpperCase()
        cliente.querySelector('#nro').value = obj.num.trim().toUpperCase()
        cliente.querySelector('#bairro').value = obj.bairro.trim().toUpperCase()
        cliente.querySelector('#cpl').value = ''
        cliente.querySelector('#xMun').value = obj.cidade.trim().toUpperCase()
        cliente.querySelector('#UF').value = obj.estado.trim().toUpperCase()
        cliente.querySelector('#CEP').value = getCEP(obj.cep)
        cliente.querySelector('#email').value = ''
        document.querySelector('#btnSaveCli').click()
    }

    function importData(){

        const resp = getFile('/../../NF/NFs/json/NFs.json')
        resp.then((txt)=>{
            pageData.config = JSON.parse(txt)
            fillData()

        })
    }
    function fillData(){

        const emitente = document.querySelector('#emitente')
        emitente.querySelector('#xNome').value = pageData.config.CONF.RazSocPre
        emitente.querySelector('#CNPJ').value = getCNPJ(pageData.config.CONF.CpfCnpjPre)
        emitente.querySelector('#xLgr').value = pageData.config.CONF.LogPre
        emitente.querySelector('#nro').value = pageData.config.CONF.NumEndPre
        emitente.querySelector('#bairro').value = pageData.config.CONF.BairroPre
        emitente.querySelector('#cpl').value = pageData.config.CONF.ComplEndPre
        emitente.querySelector('#xMun').value = pageData.config.CONF.MunPre
        emitente.querySelector('#UF').value = pageData.config.CONF.SiglaUFPre
        emitente.querySelector('#CEP').value = getCEP(pageData.config.CONF.CepPre)
        emitente.querySelector('#email').value = pageData.config['20'].EMail_1.toLowerCase()

        const fatura = document.querySelector('#fatura')
        fatura.querySelector('#edtNfsNum').value = parseInt(pageData.config.CONF.numNFS)+1
        fatura.querySelector('#edtRps').value = pageData.config.CONF.DefRPS
        fatura.querySelector('#edtAliq').value = (pageData.config['10'].AlqIssSN_IP)
        document.querySelector('#edtAliq').onkeyup()

    }

    document.querySelector('#brnGeraNFs').addEventListener('click',()=>{
        saveFiscal()
        const txt = getTXT()
        const filename = 'NFs-'+pageData.config['CONF'].numNFS
        uploadNFs(txt, filename)
    })

    document.querySelector('#btnSaveEmit').addEventListener('click',()=>{
        const emitente = document.querySelector('#emitente')
        pageData.config.CONF.RazSocPre = emitente.querySelector('#xNome').value.trim().toUpperCase()
        pageData.config.CONF.TipoCpfCnpjPre = '2'
        pageData.config.CONF.CpfCnpjPre = getNum(emitente.querySelector('#CNPJ').value)
        pageData.config.CONF.LogPre = emitente.querySelector('#xLgr').value.trim().toUpperCase()
        pageData.config.CONF.NumEndPre = emitente.querySelector('#nro').value.trim().toUpperCase()
        pageData.config.CONF.ComplEndPre = emitente.querySelector('#cpl').value.trim().toUpperCase()
        pageData.config.CONF.BairroPre = emitente.querySelector('#bairro').value.trim().toUpperCase()
        pageData.config.CONF.MunPre = emitente.querySelector('#xMun').value.trim().toUpperCase()
        pageData.config.CONF.SiglaUFPre = emitente.querySelector('#UF').value.trim().toUpperCase()
        pageData.config.CONF.CepPre = getNum(emitente.querySelector('#CEP').value)
        pageData.config['20'].EMail_1 = emitente.querySelector('#email').value.trim().toLowerCase()
        NFsConf(pageData.config)
    })

    document.querySelector('#btnSaveCli').addEventListener('click',()=>{
        const cliente = document.querySelector('#cliente')
        pageData.config['20'].RazSocTom = cliente.querySelector('#xNome').value.trim().toUpperCase()
        pageData.config['20'].CpfCnpjTom = getNum(cliente.querySelector('#CNPJ').value)
        pageData.config['20'].TipoLogtom = ''
        pageData.config['20'].LogTom = cliente.querySelector('#xLgr').value.trim().toUpperCase()
        pageData.config['20'].NumEndTom = cliente.querySelector('#nro').value.trim().toUpperCase()
        pageData.config['20'].ComplEndTom = cliente.querySelector('#cpl').value.trim().toUpperCase()
        pageData.config['20'].BairroTom = cliente.querySelector('#bairro').value.trim().toUpperCase()
        pageData.config['20'].MunTom = cliente.querySelector('#xMun').value.trim().toUpperCase()
        pageData.config['20'].SiglaUFTom = cliente.querySelector('#UF').value.trim().toUpperCase()
        pageData.config['20'].CepTom = getNum(cliente.querySelector('#CEP').value)
        pageData.config['20'].Telefone = ''
        pageData.config['20'].EMail_2 = cliente.querySelector('#email').value.trim().toLowerCase()
        NFsConf(pageData.config)
    })

    document.querySelector('#txtFiles').addEventListener('dblclick',()=>{
        const file = document.getElementById('txtFiles').value
        const path = '../NF/NFs/txt/' + file;
        var link = document.createElement("a");
            link.download = file;
            link.href = path;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link; 
    })

    document.querySelector('#pdfFiles').addEventListener('dblclick',()=>{
        const file = document.getElementById('pdfFiles').value
        const path = '../NF/NFs/pdf/' + file;
        var link = document.createElement("a");
            link.download = file;
            link.href = path;
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            delete link; 
    })

    document.querySelector('#btnBuscaServ').addEventListener('click',()=>{
        pageFunc.fillServExec()
    })

    pageFunc.fillServExec = ()=>{    
        
        function getDate(){
            return (pageScreen.querySelector('#edtIni').value.length > 0 && pageScreen.querySelector('#edtFin').value.length > 0) || !document.getElementById('ckbData').checked
        }
        
        if(getDate()){
            const tbl = pageScreen.querySelector('#tblServExec')
            tbl.innerHTML = ''
            const query = getVal('nfs')
            const params = new Object;
                params.field = query[0]
                params.signal = query[1]
                params.value = query[2]
                params.ini = pageScreen.querySelector('#ckbData').checked ? pageScreen.querySelector('#edtIni').value : '0000-00-00'
                params.fin = pageScreen.querySelector('#ckbData').checked ? pageScreen.querySelector('#edtFin').value : '9999-12-31'
            const myPromisse = queryDB(params,'SERV-0');
            myPromisse.then((resolve)=>{
                const json = JSON.parse(resolve)
                tbl.style.display = json.length > 0 ? 'inline-table' : 'none'
                pageScreen.querySelector('#btnAddAll').style.display = json.length > 0 ? 'inline-table' : 'none'
                tbl.head('Cod.,Data,Cliente,Carro,NF,Valor')               
                for(let i=0; i<json.length;i++){
                    tbl.plot(json[i],'id,data_exec,empresa,num_carro,nf,valor','str,dat,Upp,str,str,R$.')
                }         
            });
        }else{
            alert('Favor preencher as datas corretamente.')
        }
    }

    document.querySelector('#tblServExec').addEventListener('click',(e)=>{
        data = e.target.parentNode.data
        data.mode = 'edit'
        if (confirm(`Carregar Carro.${data.num_carro} de ${data.empresa.toUpperCase()}?`)) {
            const serv = document.querySelector('#txtServicos')
            if(serv.innerHTML.trim() == ''){
                addCliente(data)          
                serv.innerHTML = `CARRO:${data.num_carro}\n` + data.obs +'\n'
                document.querySelector('#edtValor').value = data.valor
            }else if (confirm(`Adicionar o carro ${data.num_carro} a NFs atual?`)){
                serv.innerHTML += `\nCARRO:${data.num_carro}\n` + data.obs +'\n'
                document.querySelector('#edtValor').value =  (parseFloat(document.querySelector('#edtValor').value)+parseFloat(data.valor)).toFixed(2)
            }
        }
    })

    document.querySelector('#btnUpPDF').addEventListener('click',()=>{

        const data = new Object
        data.ext = '.pdf'
        data.path = '../NF/NFs/pdf/'
        data.filename = ''

        openHTML('uploadFile.html','pop-up','Nota Fiscal de Serviço',data)


    })

    document.querySelector('#btnAddAll').addEventListener('click',()=>{        
        if (confirm('Deseja adicionar todos os ítens acima?')) {
            const rows = document.querySelector('#tblServExec').querySelectorAll('tr')
            const serv = document.querySelector('#txtServicos')
            const info = document.querySelector('#txtInfo')
            let pedidos = ['']
            document.querySelector('#edtValor').value = '0'
            serv.innerHTML = ''

            info.innerHTML = rows.length > 2 ? 'Serviço aprovado conforme Pedidos:' : 'Serviço aprovado conforme Pedido:'
            addCliente(rows[1].data)
            for(let i=1; i<rows.length; i++){
                serv.innerHTML += `\nCARRO:${rows[i].data.num_carro}\n` + rows[i].data.obs +'\n'
                document.querySelector('#edtValor').value =  (parseFloat(document.querySelector('#edtValor').value)+parseFloat(rows[i].data.valor)).toFixed(2)
                info.innerHTML += pedidos.includes(rows[i].data.pedido.trim()) ? '' : rows[i].data.pedido.trim()+' '
                pedidos.push(rows[i].data.pedido.trim())
            }
        }

    })

</script>