<template>
    <style>
        table{
            font-size: 0.8em;
            line-height: 10px;
            color: rgb(47, 79, 79);
        }
     
        td,th {
            text-align: center;
            border: 1px solid #dddddd;
        }

        .weekend {
            background-color: #fac4c7 !important;
        }

        .hora-extra{
            background-color: #547ee0 ;
            color: #c8dce4;
        }

    </style>
  
    <fieldset class="fds-busca relogio">
        <legend>Busca</legend>
        <div class="inline">
            <label for="edtBusca">por:</label>
            <select id="cmbBusca">
                <option value="nome" signal="LIKE">Nome</option>
                <option value="cargo" signal="LIKE">Cargo</option>
                <option value="setor" signal="LIKE">Setor</option>
                <option value="horista" signal="=" val="1" selected>Horista</option>
                <option value="horista" signal="=" val="0">Mensalista</option>
            </select>
            <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
            <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
            <div class="line-ckb">
                <label for="ckbAtv">Ativo</label>
                <input type="checkbox" id="ckbAtv" checked>
            </div>  
        </div>
        <div class="inline fdata">
            <label for="ckbData">entre:</label>
            <input type="checkbox" id="ckbData" checked>
            <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
            <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
        </div>
    </fieldset>  

    <fieldset class="calendar">
        <legend>Dias</legend>
        <table id="tblRelogio"></table>
    </fieldset>

</template>
<script>


    const pageData = main_data.rh_relogio_ponto.data
    const pageFunc = main_data.rh_relogio_ponto.func
    const pageScreen = document.querySelector('#card-rh_relogio_ponto')

    pageFunc.feriados = ()=>{
        queryDB({},'ADM-6').then((resolve)=>{
            pageData.feriados = JSON.parse(resolve)
        })
    }

    pageFunc.fillRelogio = (func)=>{      
        const params = new Object;
            params.inicio = pageScreen.querySelector('#edtIni').value
            params.final = pageScreen.querySelector('#edtFin').value
            params.func = func         
        const myPromisse = queryDB(params,'REL-0')
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
            for(let i=0; i<pageData.funcionarios.length; i++){
                pageData.funcionarios[i].horas = json.filter(obj => obj.id_func == pageData.funcionarios[i].id)
            }      
            makeCalendar()       
        })
    }

    pageFunc.fillFunc = ()=>{
        const query = getVal('relogio')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
            params.ativo = pageScreen.querySelector('#ckbAtv').checked ? 1 : 0                      
        const myPromisse = queryDB(params,'FUN-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)  
//console.log(json)
            pageData.funcionarios = json
            let func_id = ''
            
            for(let i=0; i<json.length;i++){
                func_id += (i!=0 ? ',' : '') + json[i].id
//                func.push(json[i].nome.split(' ')[0])
            }   

            pageFunc.fillRelogio(func_id)
        });
    }

    function startPage(){
        pageFunc.feriados()
        const month = (today.getDate() <= 25 ? today.getMonth() : today.getMonth()+1)
        pageScreen.querySelector('#edtIni').value = `${today.getFullYear()}-${month.toString().padStart(2, "0")}-26`
        pageScreen.querySelector('#edtFin').value = `${today.getFullYear()}-${(month+1).toString().padStart(2, "0")}-25`
    }

    function makeCalendar(){

        const tbl = pageScreen.querySelector('#tblRelogio')
        tbl.innerHTML = ''
        const td_ini = new Date(pageScreen.querySelector('#edtIni').value)
        td_ini.change()
        const td_fin = new Date(pageScreen.querySelector('#edtFin').value)
        td_fin.change()

        const range = ((td_fin - td_ini) / 86400000) +1

        const head_1 = document.createElement('tr')
        const head_2 = document.createElement('tr')
        head_1.innerHTML = '<th colspan="2"></th>'
        head_2.innerHTML = '<th colspan="2">DATA</th>'
        for(let i=0; i<pageData.funcionarios.length; i++){
            head_1.innerHTML += `<th colspan="2">${pageData.funcionarios[i].nome.split(' ')[0]}</th>`
            head_2.innerHTML += '<th>Ent.</th><th>Sai.</th>'
        }
        tbl.appendChild(head_1)
        tbl.appendChild(head_2)

        console.log(document.styleSheets[document.styleSheets.length-1])

        for(let i=0; i<range; i++){
            const tr = document.createElement('tr')
            tr.id = 'row-'+td_ini.getFormatDate()

            const ent = ['Sab','Dom'].includes(td_ini.getWeekDay()) || td_ini>=today ? '00:00' : '07:00'
            const sai = ['Sab','Dom'].includes(td_ini.getWeekDay()) || td_ini>=today ? '00:00' :  td_ini.getWeekDay() == 'Sex' ? '16:00' : '17:00'
            let cell = ''
            for(let j=0; j<pageData.funcionarios.length; j++){
                cell   += `<td class="cell-${i}_${j} ent-${pageData.funcionarios[j].id}">${ent}</td><td class="cell-${i}_${j} sai-${pageData.funcionarios[j].id}">${sai}</td>`
//                document.styleSheets[document.styleSheets.length-1].addRule(`.cell-${i}_${j}:hover ~ .cell-${i}_${j}{background-color: yellow;}`);
            }


            const feriados = pageData.feriados.filter(e => e.mes === (td_ini.getMonth()+1).toString())
            const he = feriados.filter(e => e.dia === (td_ini.getDate()).toString())

            tr.classList.add(['Sab','Dom'].includes(td_ini.getWeekDay()) ||  he.length > 0 ?'weekend':'workday')
            tr.innerHTML = `<th>${td_ini.getFormatBR()}</th><th>${td_ini.getWeekDay()}</th>${cell}` 
            tbl.appendChild(tr)
            td_ini.change()
        }
  
        for(let i=0; i<pageData.funcionarios.length; i++){
            for(let j=0; j<pageData.funcionarios[i].horas.length; j++){                
                const he = pageData.funcionarios[i].horas[j]
                he.dt_ent = he.entrada.split(' ')[0]
                he.hr_ent = he.entrada.split(' ')[1]
                he.dt_sai = he.saida.split(' ')[0]
                he.hr_sai = he.saida.split(' ')[1]
                const tbl_rows = pageScreen.querySelector('#row-'+he.dt_ent).cells
                const cell_ent = tbl_rows[(i+1)*2]
                const cell_sai = tbl_rows[(i+1)*2 +1]

                cell_ent.innerHTML = he.hr_ent.substr(0,5)
                cell_sai.innerHTML = he.hr_sai.substr(0,5)
                
                cell_ent.data = he

                cell_ent.classList.add('hora-extra')
                cell_sai.classList.add('hora-extra')



console.log(he)

                 

            }
        }


    }


    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
//        pageFunc.fillRelogio()
        pageFunc.fillFunc()
        
    })


    startPage()

</script>