<template>
    <style>

     
    </style>
  
    <fieldset class="fds-busca relogio">
        <legend>Busca</legend>
        <div class="inline">
            <label for="edtBusca">por:</label>
            <select id="cmbBusca">
                <option value="nome" signal="LIKE">Nome</option>
                <option value="cargo" signal="LIKE">Cargo</option>
                <option value="setor" signal="LIKE">Setor</option>
                <option value="horista" signal="=" val="1" selected>Horista</option>
                <option value="horista" signal="=" val="0">Mensalista</option>
            </select>
            <input type="text" id="edtBusca" onkeypress="return getEnter(event, 'btnBusca')">
            <button id="btnBusca" class="btn-round" ><span class="mdi mdi-magnify"></span></button>
            <div class="line-ckb">
                <label for="ckbAtv">Ativo</label>
                <input type="checkbox" id="ckbAtv" checked>
            </div>  
        </div>
        <div class="inline fdata">
            <label for="ckbData">entre:</label>
            <input type="checkbox" id="ckbData" checked>
            <input type="date" id="edtIni" onkeypress="return getEnter(event, 'btnBusca')">
            <input type="date" id="edtFin" onkeypress="return getEnter(event, 'btnBusca')">
        </div>
    </fieldset>  

    <fieldset class="calendar">
        <legend>Dias</legend>
        <table id="tblRelogio"></table>
    </fieldset>

</template>
<script>


    const pageData = main_data.rh_relogio_ponto.data
    const pageFunc = main_data.rh_relogio_ponto.func
    const pageScreen = document.querySelector('#card-rh_relogio_ponto')


    pageFunc.fillRelogio = (func)=>{      
        const params = new Object;
            params.inicio = pageScreen.querySelector('#edtIni').value
            params.final = pageScreen.querySelector('#edtFin').value
            params.func = func
            
        const myPromisse = queryDB(params,'REL-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)   
console.log(json)         
            makeCalendar()
            for(let i=0; i<json.length;i++){
//                console.log(json[i])
            }         
        });
    }

    pageFunc.fillFunc = ()=>{      
        const query = getVal('relogio')
        const params = new Object;
            params.field = query[0]
            params.signal = query[1]
            params.value = query[2]
            params.ativo = pageScreen.querySelector('#ckbAtv').checked ? 1 : 0                      
        const myPromisse = queryDB(params,'FUN-0');
        myPromisse.then((resolve)=>{
            const json = JSON.parse(resolve)
console.log(json)
            let func_id = ''
            const func = []
            for(let i=0; i<json.length;i++){
                func_id += (i!=0 ? ',' : '') + json[i].id
                func.push(json[i].nome.split(' ')[0])
            }   
            makeCalendar(func)
            pageFunc.fillRelogio(func_id)
        });
    }

    function startPage(){
        const month = (today.getDate() <= 25 ? today.getMonth() : today.getMonth()+1)
        pageScreen.querySelector('#edtIni').value = `${today.getFullYear()}-${month.toString().padStart(2, "0")}-26`
        pageScreen.querySelector('#edtFin').value = `${today.getFullYear()}-${(month+1).toString().padStart(2, "0")}-25`
    }

    function makeCalendar(func){
console.log(func)        
        const td_ini = new Date(pageScreen.querySelector('#edtIni').value)
        td_ini.change()
        const td_fin = new Date(pageScreen.querySelector('#edtFin').value)
        td_fin.change()

        const range = ((td_fin - td_ini) / 86400000) +1


        for(let i=0; i<range; i++){
            const dt = td_ini.getFullYear()+'-'+(td_ini.getMonth()+1).toString().padStart(2,0)+'-'+td_ini.getDate().toString().padStart(2,0)
//            console.log(dt)

            


            td_ini.change()
        }

    }


    pageScreen.querySelector('#btnBusca').addEventListener('click',()=>{
//        pageFunc.fillRelogio()
        pageFunc.fillFunc()
        
    })


    startPage()

</script>