<template>
    <link rel="stylesheet" href="style/tree.css">
    <style>

    </style>
        <fieldset>
            <legend>Regras</legend>
            <ul class="tree">
                <li>
                <details open>
                    <summary>NFe</summary>
                    <ul id="nfe-itens"></ul>
                </details>
                </li>
            </ul>
        </fieldset>

</template>
<script>
    const pageData = main_data.sys_nfe_config.data
    const pageFunc = main_data.sys_nfe_config.func
    const pageScreen = document.querySelector('#card-sys_nfe_config')

    pageFunc.createTree = (grp='')=>{
        const tree = pageScreen.querySelector('#nfe-itens')
        tree.innerHTML = ''
        for(const grupo in rules){
            if(typeof rules[grupo] === 'object' && !Array.isArray(rules[grupo])){
                const li_grupo = document.createElement('li')                
                const details_grupo = document.createElement('details')
                details_grupo.open = grp==grupo ? 1 : 0
                const summary_grupo = document.createElement('summary')
                summary_grupo.innerHTML = grupo
                summary_grupo.addEventListener('contextmenu',(e)=>{
                    e.preventDefault()
                    const grp_nome = prompt(`Digite o nome do novo campo em ${grupo}:`)
                    rules[grupo][grp_nome] = {"def":"", "tam" : 0, "tipo":"C","ocor":"0-1","dec":0}
                    pageFunc.saveRules()
                }) 
                details_grupo.appendChild(summary_grupo)
                const ul_grupo = document.createElement('ul')
                for(const campo in rules[grupo]){
                    const li = document.createElement('li')
                    const details = document.createElement('details')
                    const summary = document.createElement('summary')
                    summary.innerHTML = campo
                    summary.className = 'last'
                    summary.addEventListener('click',(e)=>{
                        const data = new Object
                            data.grupo = grupo
                            data.campo = campo                            
                        openHTML('sys_nfe_config_detail.html','pop-up',`Configuração (${grupo} - ${campo})`,data,800)
                    })
                    summary.addEventListener('contextmenu',(e)=>{
                        e.preventDefault()
                        if(confirm(`Deseja subir o campo ${campo}?`)){
                            pageFunc.bubble(grupo,campo)
                        }
                    })
                    details.appendChild(summary)
                    li.appendChild(details)
                    ul_grupo.appendChild(li)
                }
                details_grupo.appendChild(ul_grupo)
                li_grupo.appendChild(details_grupo)
                tree.appendChild(li_grupo)

            }
        }     
    }

    pageFunc.saveRules = (grp='')=>{
        const file_rules = JSON.stringify(rules)
        saveFile(file_rules,'/../config/rules.json')
        pageFunc.createTree(grp)
    }

    pageFunc.bubble = (grupo,campo)=>{
        const keys = Object.keys(rules[grupo])
        const index = keys.indexOf(campo)
        if(index>0){
            const aux = keys[index]
            keys[index] = keys[index-1]
            keys[index-1] = aux
        }

        const obj = new Object
        for(let i=0; i<keys.length; i++){
            obj[keys[i]] = rules[grupo][campo]
        }

        rules[grupo] = obj
        pageFunc.saveRules(grupo)
    }

    pageFunc.createTree()

</script>